*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 100vw;
  height: 100vh;
  background-image: url("background.png");
  background-position: center;
  background-size: cover;
  padding: 50px;
  position: relative;
}
.container .logo{
  width: 120px;
  padding: 20px 0;
  cursor: pointer;
}
.content{
  top:50%;
  position: absolute;
  transform: translateY(-50%);
  color: white;
}
.content h1{
  font-size: 68px;
  font-weight: bold;
}
.content h1 span{
  color: rgb(245, 66, 66);
}
.content button{
  padding: 10px 5px;
  outline: none;
  border: 2px solid white;
  background: transparent;
  color: white;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.content button img{
  width: 15px;
  margin-left: 5px;
}
.container .launch{
  display: flex;
}
.launch div{
  flex-basis: 100px;
}
.launch div p{
  font-size: 60px;
  margin-bottom: 5px;
}
.rocket{
  right: 10%;
  position: absolute;
  bottom:0;
  width: 270px;
  animation: rocket 4s linear infinite;
}
@keyframes rocket{
  0%{
    bottom: 0;
    opacity: 0;
  }
  100%{
    bottom:105%;
    opacity: 1;
  }
}
